*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#video2{
    position: absolute;
    right: 0;
    top: 0;
}

#container{
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15vw;
    height: 10vh;
    /* background-color: #333; */
    position: relative;
    z-index: 99;
}

#dragme{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    z-index: 1;
    padding: 0.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.cir{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='3%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    animation: golgol linear infinite 10s;
}

i{
    color: #fff;
    position: absolute;
}

#dragme svg{
    animation: golgol 2s ease-in-out infinite;

}

@keyframes golgol {
    0%{
        rotate: -360deg;
    }
    100%{
        rotate: 0deg;
    }
}

.end-reach{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 3vw;
    height: 3vw;
}

.on-cir{
    width: 0.8vw;
    height: 0.8vw;
    background-color: orange;
    border-radius: 50%;
}

.end{
    top: 0;
    right: 0;
    position: absolute;
    width: 1vw;
    height: 5vw;
    /* border-radius: 50%; */
}